@import url('https://fonts.googleapis.com/css2?family=DMSans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

#network {
    width: 100%;
    height: 700px;
    border: 1px solid lightgray;
    position: top;
}

.container {
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
    justify-content: flex-start; /* Aligns items to the left */
    /* flex-direction: row-reverse; */
    height: 100%;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    width: 400px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    position: relative;
    transition: all 0.3s ease;
    overflow: auto;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 20px;
    left: -40px;
    font-size: 30px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.sidebar .sidebar-content {
    margin-left: 20px;
}

.sidebar .sidebar-content ul {
    list-style-type: none;
}

.sidebar .sidebar-content li {
    margin: 15px 0;
}

.sidebar .sidebar-content a {
    color: white;
    text-decoration: none;
}

.sidebar .sidebar-content a:hover {
    text-decoration: underline;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }